.game {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: black;
}

.row {   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 50vw;
}

.points{
    justify-content: center;
}

div {
    display: flex;
    background: black;
    color: white;
    font-size: 3vh;
    justify-content: center;
    width: 100%;
}

.text1 {
    font-family: cursive;
    font-size: 4vh;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073;
}
.text2 {
    font-family: DejaVu Sans Mono, monospace;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #33aaff, 0 0 40px #335aFF;
}

.text3 {
    font-family: Blippo, fantasy;
    font-size: 3vh;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.261), 0 0 20px rgba(174, 255, 163, 0.179), 0 0 30px #27bd70, 0 0 40px #66ff33;
}

.text4 {
    margin-top: 10px;
    font-family: Marker Felt, fantasy;
    font-size: 4vh;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.261), 0 0 20px rgba(255, 163, 163, 0.179), 0 0 30px #bd2727, 0 0 40px #ff3333;
}

.lose-class {
    font-family: American Typewriter, serif;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073;
}

button {
    background: rgba(139, 0, 0, 0.63);
    color: white;
    font-family:'Courier New', Courier, monospace;
    width: 30%;
    height: 80%;
    margin: 2%;
    padding: 2%;
    border-radius: 10%;
}

#monthButton{
    background: rgba(255, 251, 0, 0.527);
    border-radius: 50%;
    border: none;
}
